body{
margin: 0;
padding: 0;
}
.contenedor{
border: 0px solid #000;
width: 1100px;
min-height: 700px;
margin: 0 auto;
}

header{
border: 1px solid #000;
width: 100%;
min-height: 100px;
}

nav{
border: 1px solid #000;
width: 100%;
min-height: 40px;
margin-top: 5px;
}

section{
border: 1px solid #000;
width: 100%;
min-height: 520px;
margin-top: 5px 0px;
}

footer{
border: 1px solid #000;
width: 100%;
min-height: 40px;
}

