body{
margin: 0;
padding: 0;
background-color: #000000;
}
.contenedor{
width: 100%;
min-width: 1000px;
min-height: 700px;
}

header{
width: 100%;
min-height: 70px;
border-bottom: 1px dotted #990000;
background-color: #000000;
}

nav{
width: 200px;
min-height: 600px;
position: absolute;
/*background-color: #f78181;*/
}
section{
width: auto;
min-height: 600px;
margin-left: 200px;
}

footer{
font: bold 9pt arial;
width: 100%;
min-height: 50px;
padding: 15px 0px;
text-align: center;
background-color: #990000;
border-top: 1px dotted #990000
}
.boton{
font: bold 13pt arial;
width: 190px;
padding: 7px 0px 7px 2px;
display: block;
border: 2px solid #CC0000;
background-color: #000000;
color:#FFF;
margin-top: 3px;
text-decoration: none;
border_radius: opx 20px 20px opx;
}
.boton:hover{
width:190px;
font-style: italic;
box-shadow: 2px 2px 2px #990000
}
.enlace{
font: bold 9pt Arial;
text-decoration: none;
color: #000000
}
