h1{
font:bold 20pt times;
color:#0489B1;
text-align:center;
text-transform: uppercase;
}


h3{
font: bold 18pt times;
color:#0489B1;
text-transform: uppercase;
}

.foto{
margin: 0 auto;
border: 5px solid #D8D8D8;
border-radius:  100px;
display: block;
}